#root {
  max-width: 980px;
  margin: 0 auto;
  padding: 1vh 1vw;
  text-align: center;
}

@media (min-width: 992px) {
  .App {
    min-width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px){
  .App {
    min-width: 720px;
  }
}


